<div>
    <span class="ripple"></span>
    <div class="circle">

        <h1>Tap to OMMmmm</h1>
        <canvas class="visualizer" width="150" height="150"></canvas>
    </div>

    <div class="wrapper">

        <form class="controls">
            <div>
                <label for="visual">Visualizer setting</label>
                <select id="visual" name="visual">
                    <option value="sinewave">Sinewave</option>
                    <option value="frequencybars" selected>Frequency bars</option>
                    <option value="off">Off</option>
                </select>
            </div>
        </form>
    </div>
</div>

<script
        src="https://code.jquery.com/jquery-2.2.4.js"
        integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/javascripts/v-change-2.js"></script>
