<!--<h1>{{title}}</h1>-->
<!--<p>Welcome to {{title}}</p>-->
<!--<div class="container">-->

<!--</div>-->
<div>
    <span class="ripple"></span>
    <div class="circle">
        <!--<img src="/images/om-svg.png" style="height:300px;width:300px;" alt="om symbol">-->
        <h1>Tap to OMMmmm</h1>
    </div>
    <!--<h1>Ripple</h1>-->
    <!--<div class="circle-ripple"></div>-->
</div>

