<div>
    <canvas class="visualizer circle"></canvas>
    <div class="wrapper">
        <form class="dropdown">
            <div>
                <label for="visual"></label>
                <select id="visual" name="visual">
                    <option value="sinewave">Wave</option>
                    <option value="frequencybars" selected>Frequency</option>
                </select>
            </div>
        </form>
    </div>
</div>

