<div>
    <div class="flex">
        <canvas class="visualizer" height=300 width=300 id="circle"></canvas>
    </div>

    <div class="wrapper">
        <form>
            <div>
                <label for="visual"></label>
                <select id="visual" name="visual">
                    <option value="sinewave">Wave</option>
                    <option value="frequencybars" selected>Frequency</option>
                </select>
            </div>
        </form>
    </div>
</div>
