body {
    background-color: #20283B;
}

a {
    text-decoration: none;
}

h1:hover {
    color: #f7f7f7;
}

h1 {
    font-size: 30px;
    color: #349597;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.wrapper {
    margin: 5em auto;
    text-align: center;
}

.circle {
    height: 350px;
    width: 350px;
    text-align: center;
    border-radius: 50%;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

select {
    /*width: 100%;*/
    height: 15%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    color: #f1f1f1;
    background-color: #20283B;
}
