body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  height: 100%;
  width: 100%;
}

.circle {
  height: 150px;
  width: 150px;
  text-align: center;
  padding: 50px;
  border: 1px solid red;
  border-radius: 50%;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.circle:hover {background-color: #3e8e41}

.circle:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}