html,
body {
    height: 100%;
}

body {
    background: #000;
    background: radial-gradient( #181818, #000 );
    /*overflow: hidden;*/
}

/*"I think you have to go back to where you did the coding (IDE) and change the "y"*/
body:after {
    background: #181818;
    background: radial-gradient(#000, #555);
    border-radius: 50%;
    bottom: 50px;
    content: '';
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: -350px;
    width: 50px;
    height: 50px;
    will-change: transform;
}

canvas {
    display: block;
}